body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Raleway, "Open Sans", arial, verdana, tahoma, trebuchet, sans-serif;
	font-style: normal;
	text-align: center;
	background-color: #ffffff;
	}

header{
    position: relative;
    width: 1170px;
    height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(249,245,252,0.3);
    }

nav {
    position: absolute;
    width: 662px;
	height: 100px;
	right: 0;
    top: 0;
	overflow: hidden;
}

nav a {
    height: 100px;
	font: normal bold 13px/100px Raleway;
    text-transform: uppercase;
	color: #ccccd3;
	float: right;
    }

nav a+a {
    margin-right: 60px;
    }

a { 
    text-decoration: none;
	} 

h1 {
    margin: 142px 36px 8px;
    font: normal bold 65px/72px "Open Sans";
	text-transform: uppercase;
	color: #ffffff;
    }

h2 {
    margin: 24px auto;
    font: normal 22px/33px Raleway;
	color: #ffffff;
    }

h3 {
    margin: 0 auto;
    font: normal bold 14px/14px Raleway;
	text-transform: uppercase;
	color: #ffffff;
    }

p {
    margin: 12px auto;
    font: normal 13.8px/22px Raleway;
	color: #9d9fb2;
 }

span {
    color: #ffffff;
}

span::before {
	content: url(../img/heart.png);
	}

footer {
    position: relative;
    width: 1900px;
    height: 336px;
    margin: 0 auto;
    background: #3a3e64;
    }

.button {
    width: 200px;
    height: 47px;
    margin: 72px auto;
    background: #e84545;
    border-radius: 3px;
    }

.button a {
    font: normal 13px/47px Raleway;
    padding: 18px 46px;
    text-transform: uppercase;
    color: #ffffff;
}

.head {
    position: relative;
    width: 1900px;
    height: 750px;
    margin: 0 auto;
    background: #313454 url(../img/head.jpg) no-repeat;
    background-size: 100% 100%;
    }

.logo {
    position: relative;
    top: 38px;
    width: 189px;
    height: 24px;
    background: url(../img/logo.png) no-repeat;
    background-size: 100% 100%;
    }

.features {
    padding-top: 82px;
    width: 1170px;
    height: 608px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
    }

.feature {
    float: left;
    margin: 37px 47px;
    background: url(../img/sprite.png) no-repeat top left;
    }

.feature h3 {
    margin: 92px auto 18px;
    color: #2d3033;
    }

.feature p {
    color: #6c7279;
    margin: 0;
    line-height: 21px;
    }

.f1 {
    width: 296px;
    height: 186px;
    background-position: 118px 0px;
    }

.f2 {
    width: 296px;
    height: 186px;
    background-position: 111.5px -200px;
    }

.f3 {
    width: 296px;
    height: 187px;
    background-position: 127.5px -400px;
    }

.f4 {
    width: 296px;
    height: 187px;
    background-position: 120px -600px;
    }

.f5 {
    width: 296px;
    height: 187px;
    background-position: 112px -800px;
    }

.f6 {
    width: 296px;
    height: 187px;
    background-position: 108.5px -1000px;
}

.works {
    width: 1900px;
    height: 702px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
    }

.works div {
    position: relative;
    float: left;
    margin-bottom: 1px;
    overflow: hidden;
    }

.works div:hover .overlay {
    opacity: .9;
    transition: all .4s ease;
    }

.overlay {
    opacity: 0;
    }

.works h3 {
    position: absolute;
    top: 155px;
    left: 188px;
    color: rgba(255,255,255,0);
    }

.works div:hover h3 {
    color: rgba(255,255,255,1);
    transition: all .7s linear .2s;
    }

.works p {
    position: absolute;
    top: 160px;
    left: 171px;
    color: rgba(255,255,255,0);
    }

.works div:hover p {
    color: rgba(255,255,255,1);
    transition: all 1s linear .5s;
    }

.photo {
    position: absolute;
    top: 0;
    left: 0;
    }

.work1 {
    width: 469px;
    height: 350px;
    margin-right: 1px;
    }

.work2 {
    width: 480px;
    height: 350px;
    margin-right: 1px;
    }

.work3 {
    width: 480px;
    height: 350px;
    margin-right: 1px;
    }

.work4 {
    width: 468px;
    height: 350px;
    margin-right: 0;
    }

.work5 {
    width: 469px;
    height: 350px;
    margin-right: 1px;
    }

.work6 {
    width: 480px;
    height: 350px;
    margin-right: 1px;
    }

.work7 {
    width: 480px;
    height: 350px;
    margin-right: 1px;
    }

.work8 {
    width: 468px;
    height: 350px;
    margin-right: 0;
    }

.location {
    position: absolute;
    top: 71px;
    left: 488px;
    width: 150px;
    height: 70px;
    }

.share {
    position: absolute;
    top: 71px;
    left: 882px;
    width: 134px;
    height: 76px;
    }

.share a {
    position: relative;
    margin-top: 18px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    float: left;
    }

.fb {
    background: #3a3e64 url(../img/fb.png) no-repeat;
    background-size: auto auto;
    background-position: center;
    margin-right: 7px;
    }

.twitter {
    background: #3a3e64 url(../img/twitter.png) no-repeat;
    background-size: auto auto;
    background-position: center;
    margin-right: 7px;
    }

.linkedin {
    background: #3a3e64 url(../img/linkedin.png) no-repeat;
    background-size: auto auto;
    background-position: center;
    margin-right: 0px;
    }

.about {
    position: absolute;
    top: 71px;
    left: 1172px;
    width: 332px;
    height: 92px;
    }

.copyright {
    position: absolute;
    top: 248px;
    width: 1900px;
    height: 94px;
    padding-top: 12px;
    background-color: #313454; 
    }